.car-bg {
    background-color: #fcecea;
}

.buy-now {
    background-color: #d63384;
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
}

.price-tag {
    color: #d63384;
}

.row {
    padding: 30px;
}